*{
    border: none !important;
}

.alignbar{
    height: 100%;
    border: none !important;
}
.alignbar.segment{
    border: none !important;
    max-height: 100%;

    
}
.pusher{
    border: none !important;
}
.alignbar{
    position:sticky;
}